In [1]:
import sys
import os
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import Integer, String, Boolean, Column, ForeignKey, DateTime
from sqlalchemy.orm import Session, relationship
from sqlalchemy.orm import sessionmaker, declarative_base
from sqlalchemy.orm.decl_api import DeclarativeMeta
from dotenv import load_dotenv

In [2]:
import numpy as np
import pandas as pd
pd.set_option('display.max_row', 50)
pd.set_option('display.max_columns', 100)

In [3]:
from datetime import datetime
import time

In [4]:
load_dotenv()

MYSQL_URL_ENV = os.getenv("datasource")
MYSQL_SCHEMA_ENV = os.getenv("schema")
MYSQL_USERNAME_ENV = os.getenv("dbUser")
MYSQL_PASSWORD_ENV = os.getenv("dbPwd")

print(MYSQL_URL_ENV, MYSQL_SCHEMA_ENV, MYSQL_USERNAME_ENV)

j8b305.p.ssafy.io devdb ssafy

In [5]:
SQLALCHEMY_DATABASE_URL = (
    # "mysql+pymysql://{username}:{password}@{dbUrl}/{schema}?charset=utf8mb4".format(
    #     dbUrl=MYSQL_URL_ENV,
    #     schema=MYSQL_SCHEMA_ENV,
    "mysql+pymysql://{username}:{password}@j8b305.p.ssafy.io/devdb?charset=utf8mb4".format(
        username=MYSQL_USERNAME_ENV,
        password=MYSQL_PASSWORD_ENV,
    )
)

engine = create_engine(SQLALCHEMY_DATABASE_URL)

SessionLocal = sessionmaker(autocommit=False, autoflush=False, bind=engine)

Base = declarative_base()

In [6]:
db = SessionLocal()

In [7]:
db

In [8]:
class Member(Base):
    def __getitem__(self,key):
        return getattr(self, key)
    
    def __setitem__(self,key,value):
        return setattr(self, key, value)
    
    def keys(self):
        return list(self.__dict__.keys())
    
    def values(self):
        return list(self.__dict__.values())
    
    __tablename__ = "member"
    
    idx = Column(Integer, primary_key=True, index=True)
    created_date = Column(DateTime())
    updated_date = Column(DateTime())
    age_range = Column(String(255))
    expired = Column(String(255))
    gender = Column(String(255))
    hashcode = Column(String(255)) 
    member_email = Column(String(255))
    nickname = Column(String(255))
    profileImg = Column(String(255))
    role = Column(String(255))
    sns_type = Column(String(255))

## Data model define

In [31]:
# bean
class Bean(Base):
    def __getitem__(self, key):
        return getattr(self, key)

    def __setitem__(self, key, value):
        return setattr(self, key, value)

    def keys(self):
        return list(self.__dict__.keys())

    def values(self):
        return list(self.__dict__.values())

    __tablename__ = "bean"

    idx = Column(Integer, primary_key=True, index=True)
    created_date = Column(DateTime())
    updated_date = Column(DateTime())
    name_en = Column(String(255))
    name_ko = Column(String(255))
    summary = Column(String(255))
    thumbnail = Column(String(255))
    user_grade = Column(Integer)

    detail = relationship("Bean_detail", back_populates="bean", uselist=False)
    score = relationship("Bean_score", back_populates="bean", uselist=False)


# bean_detail
class Bean_detail(Base):
    def __getitem__(self, key):
        return getattr(self, key)

    def __setitem__(self, key, value):
        return setattr(self, key, value)

    def keys(self):
        return list(self.__dict__.keys())

    def values(self):
        return list(self.__dict__.values())

    __tablename__ = "bean_detail"

    idx = Column(Integer, primary_key=True, index=True)
    created_date = Column(DateTime())
    updated_date = Column(DateTime())
    decaffeination = Column(String(255))
    description = Column(String(1000))
    origin = Column(String(255))
    processing = Column(String(255))
    rank = Column(String(255))
    region = Column(String(255))
    bean_idx = Column(Integer, ForeignKey("bean.idx"))

    bean = relationship("Bean", back_populates="detail", uselist=False)


# bean_score
class Bean_score(Base):
    def __getitem__(self, key):
        return getattr(self, key)

    def __setitem__(self, key, value):
        return setattr(self, key, value)

    def keys(self):
        return list(self.__dict__.keys())

    def values(self):
        return list(self.__dict__.values())

    __tablename__ = "bean_score"

    idx = Column(Integer, primary_key=True, index=True)
    created_date = Column(DateTime())
    updated_date = Column(DateTime())
    acidity = Column(Integer)
    balance = Column(Integer)
    bitterness = Column(Integer)
    body = Column(Integer)
    coffeeing_note = Column(String(255))
    flavor = Column(Integer)
    roasting_point = Column(String(255))
    sweetness = Column(Integer)
    bean_idx = Column(Integer, ForeignKey("bean.idx"))

    bean = relationship("Bean", back_populates="score", uselist=False)

C:\Users\SSAFY\AppData\Local\Temp\ipykernel_15136\3966109739.py:2: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Bean, and will be replaced in the string-lookup table.
  class Bean(Base):

InvalidRequestError: Table 'bean' is already defined for this MetaData instance.  Specify 'extend_existing=True' to redefine options and columns on an existing Table object.

In [ ]:
# capsule
class Capsule(Base):
    def __getitem__(self, key):
        return getattr(self, key)

    def __setitem__(self, key, value):
        return setattr(self, key, value)

    def keys(self):
        return list(self.__dict__.keys())

    def values(self):
        return list(self.__dict__.values())

    __tablename__ = "capsule"

    idx = Column(Integer, primary_key=True, index=True)
    created_date = Column(DateTime())
    updated_date = Column(DateTime())
    name_en = Column(String(255))
    name_ko = Column(String(255))
    summary = Column(String(255))
    thumbnail = Column(String(255))
    user_grade = Column(Integer)

    detail = relationship("Capsule_detail", back_populates="capsule", uselist=False)
    score = relationship("Capsule_score", back_populates="capsule", uselist=False)


# capsule_detail
class Capsule_detail(Base):
    def __getitem__(self, key):
        return getattr(self, key)

    def __setitem__(self, key, value):
        return setattr(self, key, value)

    def keys(self):
        return list(self.__dict__.keys())

    def values(self):
        return list(self.__dict__.values())

    __tablename__ = "capsule_detail"

    idx = Column(Integer, primary_key=True, index=True)
    created_date = Column(DateTime())
    updated_date = Column(DateTime())
    company = Column(String(255))
    description = Column(String(255))
    machine_type = Column(String(255))
    origin = Column(String(255))
    capsule_idx = Column(Integer, ForeignKey("capsule.idx"))

    capsule = relationship("Capsule", back_populates="detail", uselist=False)


# capsule_score
class Capsule_score(Base):
    def __getitem__(self, key):
        return getattr(self, key)

    def __setitem__(self, key, value):
        return setattr(self, key, value)

    def keys(self):
        return list(self.__dict__.keys())

    def values(self):
        return list(self.__dict__.values())

    __tablename__ = "capsule_score"

    idx = Column(Integer, primary_key=True, index=True)
    created_date = Column(DateTime())
    updated_date = Column(DateTime())
    acidity = Column(Integer)
    balance = Column(Integer)
    bitterness = Column(Integer)
    body = Column(Integer)
    coffeeing_note = Column(String(255))
    flavor = Column(Integer)
    roasting = Column(Integer)
    capsule_idx = Column(Integer, ForeignKey("capsule.idx"))

    capsule = relationship("Capsule", back_populates="score", uselist=False)

In [11]:
def get_once(db: Session, model: DeclarativeMeta, idx: int):
    return db.query(model).filter(model.idx == idx).first()


def get_many(db: Session, model: DeclarativeMeta, skip: int = 0, limit: int = 100):
    return db.query(model).offset(skip).limit(limit).all()


def get_count(db: Session, model: DeclarativeMeta):
    return db.query(model).count()

In [17]:
{k:v for k, v in zip(db_user.keys(), db_user.values())}

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x24ef981b5e0>,
 'created_date': datetime.datetime(2023, 3, 1, 12, 0),
 'idx': 1,
 'updated_date': None,
 'expired': 'N',
 'hashcode': 'UADIR',
 'nickname': '정주온',
 'role': 'ROLE_MEMBER',
 'age_range': '30~39',
 'gender': 'male',
 'member_email': 'jungjuon8355@gmail.com',
 'profileImg': 'http://k.kakaocdn.net/dn/dpk9l1/btqmGhA2lKL/Oz0wDuJn1YV2DIn92f6DVK/img_640x640.jpg',
 'sns_type': 'KAKAO'}

In [22]:
db_users = get_all(db, model=Member, limit=sys.maxsize)

In [23]:
db_beans = get_all(db, model=Bean, limit=sys.maxsize)
len(db_beans)

47

In [24]:
bean_df = pd.DataFrame(data=[db_bean.values() for db_bean in db_beans], columns=db_beans[0].keys())
bean_df = bean_df[list(Bean.__table__.columns.keys())]
print(bean_df.shape)
bean_df.head()

(47, 8)

,idx,created_date,updated_date,name_en,name_ko,summary,thumbnail,user_grade
0,1,None,None,Ethiopia Yirgachev G2 Washed,에티오피아 예가체프 G2 워시드 (중배전),"꽃, 과일, 부드러운, 플로럴, 레몬, 허니",default_bean.png,6
1,2,None,None,Guatemala Antigua SHB Washed,과테말라 안티구아 SHB 워시드 (강배전),"스모크, 우아한, 중후한, 블랙커런트, 갈색설탕, 다크초코",default_bean.png,6
2,3,None,None,Ethiopia Koke G1 Pulpd Natural,에티오피아 코케 G1 펄프드내추럴 (중배전),"베리, 체리, 허니",default_bean.png,7
3,4,None,None,"AA Washid, Kiambu, Kenya",케냐 키암부 AA 워시드 (중배전),"자몽, 당밀, 카라멜",default_bean.png,7
4,5,None,None,Colombia Colombia SUPREMO WASHED,콜롬비아 콜롬비아 SUPREMO 워시드 (중배전),"마일드, 적포도, 메이플시럽, 다크초코",default_bean.png,7

In [25]:
bean_detail_df = pd.DataFrame(data=[db_bean.detail.values() for db_bean in db_beans], columns=db_beans[0].detail.keys())
bean_detail_df = bean_detail_df[list(Bean_detail.__table__.columns.keys())]
print(bean_detail_df.shape)
bean_detail_df.head()

(47, 10)

,idx,created_date,updated_date,decaffeination,description,origin,processing,rank,region,bean_idx
0,48,None,None,F,"산미(신맛)가 적당히 있으며, 약간의 바디감을 가졌습니다. 산미가 적당히 있으면서 ...",에티오피아,워시드,G2,예가체프,1
1,49,None,None,F,단맛이 그야말로 일품이다. 그래서인지 한국인에게 매우 많은 사랑을 받는 커피이다. ...,과테말라,워시드,SHB,안티구아,2
2,50,None,None,F,"산미(신맛)이 높고 향이 풍부하며, 반대로 바디감과 쓴맛은 적습니다. 또한 허니 프...",에티오피아,펄프드내추럴,G1,코케,3
3,51,None,None,F,"산미(신맛)가 적은 커피이며, 클린한 바디감의 고소함이 좋습니다. 고급스러운 고소함...",케냐,워시드,AA,키암부,4
4,52,None,None,F,부드럽고 마일드한 맛과 깊은향으로 누구나 쉽게 즐길수 있는 커피입니다. 메이플시럽의...,콜롬비아,워시드,SUPREMO,콜롬비아,5

In [26]:
bean_score_df = pd.DataFrame(data=[db_bean.score.values() for db_bean in db_beans], columns=db_beans[0].score.keys())
bean_score_df = bean_score_df[list(Bean_score.__table__.columns.keys())]
print(bean_score_df.shape)
bean_score_df.head()

(47, 12)

,idx,created_date,updated_date,acidity,balance,bitterness,body,coffeeing_note,flavor,roasting_point,sweetness,bean_idx
0,1,None,None,7,5,4,4,"꽃, 과일, 부드러운, 플로럴, 레몬, 허니",7,중배전,6,1
1,2,None,None,3,5,7,7,"스모크, 우아한, 중후한, 블랙커런트, 갈색설탕, 다크초코",6,강배전,7,2
2,3,None,None,8,5,4,5,"베리, 체리, 허니",8,중배전,7,3
3,4,None,None,6,5,6,7,"자몽, 당밀, 카라멜",6,중배전,7,4
4,5,None,None,5,5,6,6,"마일드, 적포도, 메이플시럽, 다크초코",7,중배전,6,5

In [30]:
df = pd.DataFrame(data=[db_user.values() for db_user in db_users], columns=db_users[0].keys())
df = df[list(Member.__table__.columns.keys())]
print(df.shape)
df.head()

(1007, 12)

,idx,created_date,updated_date,age_range,expired,gender,hashcode,member_email,nickname,profileImg,role,sns_type
0,1,2023-03-01 12:00:00,NaT,30~39,N,male,UADIR,jungjuon8355@gmail.com,정주온,http://k.kakaocdn.net/dn/dpk9l1/btqmGhA2lKL/Oz...,ROLE_MEMBER,KAKAO
1,2,2023-03-01 12:43:12,NaT,30~39,N,male,7ILKE,pjc8001@naver.com,박종찬,http://k.kakaocdn.net/dn/dpk9l1/btqmGhA2lKL/Oz...,ROLE_MEMBER,KAKAO
2,3,2023-03-01 13:26:24,NaT,20~29,N,male,Y4WZC,taehwan279@gmail.com,최태환,http://k.kakaocdn.net/dn/dpk9l1/btqmGhA2lKL/Oz...,ROLE_MEMBER,KAKAO
3,4,2023-03-01 14:09:36,NaT,30~39,N,female,TK7SR,minyeon6103@naver.com,신민연,http://k.kakaocdn.net/dn/dpk9l1/btqmGhA2lKL/Oz...,ROLE_MEMBER,KAKAO
4,5,2023-03-01 14:52:48,NaT,40~49,N,female,OHG9F,kwonyiyun8189@gmail.com,권예윤,http://k.kakaocdn.net/dn/dpk9l1/btqmGhA2lKL/Oz...,ROLE_MEMBER,KAKAO