In [1]:
import os
import os.path as path
import gc
import re
import math
import json
import random

In [2]:
from datetime import datetime
import time

In [3]:
import numpy as np
import pandas as pd
pd.set_option('display.max_row', 50)
pd.set_option('display.max_columns', 100)

In [4]:
# 디렉토리 기본 경로 설정
DIR_PATH = path.join('..')
DIR_SAVE_PATH = path.join('.')

print(DIR_PATH)
print(DIR_SAVE_PATH)

..
.

In [5]:
# sql_bean.csv
bean_read = pd.read_csv(path.join('.', 'sql_bean.csv'), low_memory=False, encoding='cp949')

print(bean_read.shape)
bean_read.head()

(47, 8)

,idx,created_date,updated_date,name_ko,name_en,summary,thumbnail,user_grade
0,1,NaN,NaN,에티오피아 예가체프 G2 워시드 (중배전),에티오피아 예가체프 G2 워시드 (중배전),아이템 요약 영역 입니다!!!,default_bean.png,0
1,2,NaN,NaN,과테말라 안티구아 SHB 워시드 (강배전),과테말라 안티구아 SHB 워시드 (강배전),아이템 요약 영역 입니다!!!,default_bean.png,0
2,3,NaN,NaN,에티오피아 코케 G1 펄프드내추럴 (중배전),에티오피아 코케 G1 펄프드내추럴 (중배전),아이템 요약 영역 입니다!!!,default_bean.png,0
3,4,NaN,NaN,케냐 키암부 AA 워시드 (중배전),케냐 키암부 AA 워시드 (중배전),아이템 요약 영역 입니다!!!,default_bean.png,0
4,5,NaN,NaN,콜롬비아 콜롬비아 SUPREMO 워시드 (중배전),콜롬비아 콜롬비아 SUPREMO 워시드 (중배전),아이템 요약 영역 입니다!!!,default_bean.png,0

In [6]:
# sql_bean_score.csv
bean_score_read = pd.read_csv(path.join('.', 'sql_bean_score.csv'), low_memory=False, encoding='cp949')

print(bean_score_read.shape)
bean_score_read.head()

(47, 12)

,idx,created_date,updated_date,flavor,acidity,sweetness,bitterness,body,balance,roasting_point,coffeeing_note,bean_idx
0,1,NaN,NaN,7,7,6,4,4,5,중배전,"꽃, 과일, 부드러운, 플로럴, 레몬, 허니",1
1,2,NaN,NaN,6,3,7,7,7,5,강배전,"스모크, 우아한, 중후한, 블랙커런트, 갈색설탕, 다크초코",2
2,3,NaN,NaN,8,8,7,4,5,5,중배전,"베리, 체리, 허니",3
3,4,NaN,NaN,6,6,7,6,7,5,중배전,"자몽, 당밀, 카라멜",4
4,5,NaN,NaN,7,5,6,6,6,5,중배전,"마일드, 적포도, 메이플시럽, 다크초코",5

In [7]:
bean_data = pd.merge(bean_read, bean_score_read, left_on='idx', right_on='bean_idx')
print(bean_data.shape)
bean_data.head()

(47, 20)

,idx_x,created_date_x,updated_date_x,name_ko,name_en,summary,thumbnail,user_grade,idx_y,created_date_y,updated_date_y,flavor,acidity,sweetness,bitterness,body,balance,roasting_point,coffeeing_note,bean_idx
0,1,NaN,NaN,에티오피아 예가체프 G2 워시드 (중배전),에티오피아 예가체프 G2 워시드 (중배전),아이템 요약 영역 입니다!!!,default_bean.png,0,1,NaN,NaN,7,7,6,4,4,5,중배전,"꽃, 과일, 부드러운, 플로럴, 레몬, 허니",1
1,2,NaN,NaN,과테말라 안티구아 SHB 워시드 (강배전),과테말라 안티구아 SHB 워시드 (강배전),아이템 요약 영역 입니다!!!,default_bean.png,0,2,NaN,NaN,6,3,7,7,7,5,강배전,"스모크, 우아한, 중후한, 블랙커런트, 갈색설탕, 다크초코",2
2,3,NaN,NaN,에티오피아 코케 G1 펄프드내추럴 (중배전),에티오피아 코케 G1 펄프드내추럴 (중배전),아이템 요약 영역 입니다!!!,default_bean.png,0,3,NaN,NaN,8,8,7,4,5,5,중배전,"베리, 체리, 허니",3
3,4,NaN,NaN,케냐 키암부 AA 워시드 (중배전),케냐 키암부 AA 워시드 (중배전),아이템 요약 영역 입니다!!!,default_bean.png,0,4,NaN,NaN,6,6,7,6,7,5,중배전,"자몽, 당밀, 카라멜",4
4,5,NaN,NaN,콜롬비아 콜롬비아 SUPREMO 워시드 (중배전),콜롬비아 콜롬비아 SUPREMO 워시드 (중배전),아이템 요약 영역 입니다!!!,default_bean.png,0,5,NaN,NaN,7,5,6,6,6,5,중배전,"마일드, 적포도, 메이플시럽, 다크초코",5

In [8]:
bean_data.rename({'idx_x':'idx'}, axis=1, inplace=True)
bean_data.drop(['created_date_x', 'updated_date_x', 'name_en', 'summary', 'thumbnail', 'user_grade', 'idx_y', 'created_date_y', 'updated_date_y', 'bean_idx'], axis=1, inplace=True)
print(bean_data.shape)
bean_data.head()

(47, 10)

,idx,name_ko,flavor,acidity,sweetness,bitterness,body,balance,roasting_point,coffeeing_note
0,1,에티오피아 예가체프 G2 워시드 (중배전),7,7,6,4,4,5,중배전,"꽃, 과일, 부드러운, 플로럴, 레몬, 허니"
1,2,과테말라 안티구아 SHB 워시드 (강배전),6,3,7,7,7,5,강배전,"스모크, 우아한, 중후한, 블랙커런트, 갈색설탕, 다크초코"
2,3,에티오피아 코케 G1 펄프드내추럴 (중배전),8,8,7,4,5,5,중배전,"베리, 체리, 허니"
3,4,케냐 키암부 AA 워시드 (중배전),6,6,7,6,7,5,중배전,"자몽, 당밀, 카라멜"
4,5,콜롬비아 콜롬비아 SUPREMO 워시드 (중배전),7,5,6,6,6,5,중배전,"마일드, 적포도, 메이플시럽, 다크초코"

In [9]:
# sql_member.csv
user_read = pd.read_csv(path.join('.', 'sql_member.csv'), low_memory=False, encoding='cp949')

print(user_read.shape)
user_read.head()

(1000, 12)

,idx,created_date,updated_date,age_range,expired,gender,hashcode,member_email,nickname,profileImg,role,sns_type
0,1,2023-03-01 12:00:00.000000,NaN,30~39,N,male,UADIR,jungjuon8355@gmail.com,정주온,http://k.kakaocdn.net/dn/dpk9l1/btqmGhA2lKL/Oz...,ROLE_MEMBER,KAKAO
1,2,2023-03-01 12:43:12.000000,NaN,30~39,N,male,7ILKE,pjc8001@naver.com,박종찬,http://k.kakaocdn.net/dn/dpk9l1/btqmGhA2lKL/Oz...,ROLE_MEMBER,KAKAO
2,3,2023-03-01 13:26:24.000000,NaN,20~29,N,male,Y4WZC,taehwan279@gmail.com,최태환,http://k.kakaocdn.net/dn/dpk9l1/btqmGhA2lKL/Oz...,ROLE_MEMBER,KAKAO
3,4,2023-03-01 14:09:36.000000,NaN,30~39,N,female,TK7SR,minyeon6103@naver.com,신민연,http://k.kakaocdn.net/dn/dpk9l1/btqmGhA2lKL/Oz...,ROLE_MEMBER,KAKAO
4,5,2023-03-01 14:52:48.000000,NaN,40~49,N,female,OHG9F,kwonyiyun8189@gmail.com,권예윤,http://k.kakaocdn.net/dn/dpk9l1/btqmGhA2lKL/Oz...,ROLE_MEMBER,KAKAO

In [10]:
def generate_random_overall(item_len):
    def random_overall():
        return random.choices([i for i in range(1, 11)], weights=[4, 4, 3, 3, 5, 5, 7, 10, 10, 8])
    
    random_list = [random.choices([random_overall()[0], np.NaN], weights=[item_len * 0.2, item_len * 0.8])[0] for i in range(item_len)]
    random_series = pd.Series(random_list, index=[i+1 for i in range(item_len)])
    
    return random_series

In [11]:
generate_random_overall(20)

1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    9.0
11    NaN
12    7.0
13    NaN
14    2.0
15    NaN
16    NaN
17    NaN
18    NaN
19    NaN
20    NaN
dtype: float64

In [12]:
overall_list_df = pd.DataFrame(index=user_read['idx'], columns=bean_data['idx'])
overall_list_df.index.rename('member_idx', inplace=True)
overall_list_df.columns.rename('bean_idx', inplace=True)
print(overall_list_df.shape)
overall_list_df.head()

(1000, 47)

bean_idx,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47
member_idx,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
overall_list_df = overall_list_df.apply(lambda x: generate_random_overall(overall_list_df.shape[1]), axis=1)
overall_list_df.columns.rename('item_idx', inplace=True)

In [14]:
overall_list_df.head()

item_idx,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47
member_idx,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,5.0,8.0,NaN,NaN,10.0,NaN,NaN
2,NaN,NaN,NaN,9.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,1.0,NaN,NaN,NaN,5.0,NaN,1.0,1.0,NaN,NaN,7.0,NaN,10.0,NaN,NaN,NaN,10.0,NaN,7.0,NaN,NaN,4.0,NaN
3,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,1.0,4.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,10.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,8.0,NaN,9.0,NaN,NaN,NaN,6.0,NaN
4,9.0,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,5.0,NaN,10.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,3.0,10.0,NaN,NaN,NaN,NaN,8.0,6.0,NaN,10.0,NaN,NaN,NaN,NaN,9.0,NaN,10.0,NaN,NaN,NaN,10.0,NaN,10.0,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,10.0,7.0,10.0,NaN,NaN

In [15]:
max_idx = overall_list_df.notnull().sum(axis=1).idxmax()
min_idx = overall_list_df.notnull().sum(axis=1).idxmin()

print('max: ', max_idx, overall_list_df.loc[max_idx].notnull().sum().max())
print('min: ', min_idx, overall_list_df.loc[min_idx].notnull().sum().min())

max:  643 19
min:  494 1

In [16]:
overall_list_df = overall_list_df.melt(ignore_index=False).reset_index()
overall_list_df.dropna(inplace=True)
overall_list_df.reset_index(drop=True, inplace=True)
overall_list_df.rename({'value':'overall'}, axis=1, inplace=True)
overall_list_df = overall_list_df.astype({'overall':'int'})
print(overall_list_df.shape)
overall_list_df.head()

(9470, 3)

   member_idx  item_idx  overall
0           4         1        9
1          11         1        5
2          19         1        9
3          20         1        4
4          23         1        8

In [17]:
review_df = pd.merge(overall_list_df, bean_data.drop(['name_ko', 'roasting_point'], axis=1), how='left', left_on='item_idx', right_on='idx').drop(['idx', 'balance'], axis=1)
print(review_df.shape)
review_df.head()

(9470, 9)

,member_idx,item_idx,overall,flavor,acidity,sweetness,bitterness,body,coffeeing_note
0,4,1,9,7,7,6,4,4,"꽃, 과일, 부드러운, 플로럴, 레몬, 허니"
1,11,1,5,7,7,6,4,4,"꽃, 과일, 부드러운, 플로럴, 레몬, 허니"
2,19,1,9,7,7,6,4,4,"꽃, 과일, 부드러운, 플로럴, 레몬, 허니"
3,20,1,4,7,7,6,4,4,"꽃, 과일, 부드러운, 플로럴, 레몬, 허니"
4,23,1,8,7,7,6,4,4,"꽃, 과일, 부드러운, 플로럴, 레몬, 허니"

In [18]:
review_df['idx'] = review_df.index + 1
review_df['created_date'] = ''
review_df['updated_date'] = ''
review_df['expired'] = 'N'
review_df['content'] = '커피가 괜찮아요'
review_df['item_type'] = 'bean'
review_df['like'] = 0
overall_list_columns = ['idx', 'created_date', 'updated_date', 'acidity', 
                        'bitterness', 'body', 'coffeeing_note', 'content', 
                        'expired', 'flavor', 'item_idx', 'item_type', 
                        'like', 'overall', 'sweetness', 'member_idx']
review_df = review_df[overall_list_columns]
print(review_df.shape)
review_df.head()

(9470, 16)

,idx,created_date,updated_date,acidity,bitterness,body,coffeeing_note,content,expired,flavor,item_idx,item_type,like,overall,sweetness,member_idx
0,1,,,7,4,4,"꽃, 과일, 부드러운, 플로럴, 레몬, 허니",커피가 괜찮아요,N,7,1,bean,0,9,6,4
1,2,,,7,4,4,"꽃, 과일, 부드러운, 플로럴, 레몬, 허니",커피가 괜찮아요,N,7,1,bean,0,5,6,11
2,3,,,7,4,4,"꽃, 과일, 부드러운, 플로럴, 레몬, 허니",커피가 괜찮아요,N,7,1,bean,0,9,6,19
3,4,,,7,4,4,"꽃, 과일, 부드러운, 플로럴, 레몬, 허니",커피가 괜찮아요,N,7,1,bean,0,4,6,20
4,5,,,7,4,4,"꽃, 과일, 부드러운, 플로럴, 레몬, 허니",커피가 괜찮아요,N,7,1,bean,0,8,6,23

In [19]:
# 파일 저장
os.makedirs(DIR_SAVE_PATH, exist_ok=True)
review_df.to_csv(path.join(DIR_SAVE_PATH, 'sql_review_new.csv'), sep=',', index=False, encoding='cp949')