In [1]:
import os
import os.path as path
import gc
import re
import math
import json
import random

In [2]:
import numpy as np
import pandas as pd
pd.set_option('display.max_row', 50)
pd.set_option('display.max_columns', 100)

In [3]:
# 디렉토리 기본 경로 설정
DIR_PATH = path.join('..')
DIR_SAVE_PATH = path.join('.')

print(DIR_PATH)
print(DIR_SAVE_PATH)

..
.

In [4]:
user_columns = ['idx', 'created_date', 'updated_date', 'age_range', 'expired', 'gender', 'hashcode', 'member_email', 'nickname', 'profileImg', 'role', 'sns_type']
user_df = pd.DataFrame(data=[([idx + 1] + [None for x in range(len(user_columns) - 1)]) for idx in range(1000)], columns=user_columns)
print(user_df.dtypes)
print(user_df.shape)
user_df.head()

idx              int64
created_date    object
updated_date    object
age_range       object
expired         object
gender          object
hashcode        object
member_email    object
nickname        object
profileImg      object
role            object
sns_type        object
dtype: object
(1000, 12)

,idx,created_date,updated_date,age_range,expired,gender,hashcode,member_email,nickname,profileImg,role,sns_type
0,1,None,None,None,None,None,None,None,None,None,None,None
1,2,None,None,None,None,None,None,None,None,None,None,None
2,3,None,None,None,None,None,None,None,None,None,None,None
3,4,None,None,None,None,None,None,None,None,None,None,None
4,5,None,None,None,None,None,None,None,None,None,None,None

In [5]:
# 고정값
user_df['expired'] = 'N'
user_df['profileImg'] = 'http://k.kakaocdn.net/dn/dpk9l1/btqmGhA2lKL/Oz0wDuJn1YV2DIn92f6DVK/img_640x640.jpg'
user_df['role'] = 'ROLE_MEMBER'
user_df['sns_type'] = 'KAKAO'
user_df.head()

,idx,created_date,updated_date,age_range,expired,gender,hashcode,member_email,nickname,profileImg,role,sns_type
0,1,None,None,None,N,None,None,None,None,http://k.kakaocdn.net/dn/dpk9l1/btqmGhA2lKL/Oz...,ROLE_MEMBER,KAKAO
1,2,None,None,None,N,None,None,None,None,http://k.kakaocdn.net/dn/dpk9l1/btqmGhA2lKL/Oz...,ROLE_MEMBER,KAKAO
2,3,None,None,None,N,None,None,None,None,http://k.kakaocdn.net/dn/dpk9l1/btqmGhA2lKL/Oz...,ROLE_MEMBER,KAKAO
3,4,None,None,None,N,None,None,None,None,http://k.kakaocdn.net/dn/dpk9l1/btqmGhA2lKL/Oz...,ROLE_MEMBER,KAKAO
4,5,None,None,None,N,None,None,None,None,http://k.kakaocdn.net/dn/dpk9l1/btqmGhA2lKL/Oz...,ROLE_MEMBER,KAKAO

In [6]:
mail_provider = ['naver.com', 'gmail.com', 'hanmail.net', 'kakao.com']

def random_mail_provider():
    return random.choices(mail_provider, weights=[7, 10, 1, 1], k=1)[0]

In [7]:
random_mail_provider()

'naver.com'

In [8]:
HASH_LENGTH = 5
CHARACTERS = "ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789"
USED_HASHES = [False] * (len(CHARACTERS) ** HASH_LENGTH)

def generate_hash():
    global USED_HASHES
    while True:
        hash_str = ''.join(random.choice(CHARACTERS) for _ in range(HASH_LENGTH))
        hash_code = hash(hash_str) % len(USED_HASHES)
        if not USED_HASHES[hash_code]:
            USED_HASHES[hash_code] = True
            return hash_str

In [9]:
generate_hash()

'6D29T'

In [10]:
# 무작위 생성
user_df['member_email'] = user_df.apply(lambda x : 'user' + str(x['idx']) + '@' + random_mail_provider(), axis=1)
user_df['gender'] = user_df.apply(lambda x : random.choices(['male', 'female'], weights=[5, 5])[0], axis=1)
user_df['hashcode'] = user_df.apply(lambda x : generate_hash(), axis=1)
user_df['age_range'] = user_df.apply(lambda x : random.choices(['20~29', '30~39', '40~49', '50~59'], weights=[20, 12, 7, 2])[0], axis=1)
user_df.head()

,idx,created_date,updated_date,age_range,expired,gender,hashcode,member_email,nickname,profileImg,role,sns_type
0,1,None,None,40~49,N,male,C0KW6,user1@gmail.com,None,http://k.kakaocdn.net/dn/dpk9l1/btqmGhA2lKL/Oz...,ROLE_MEMBER,KAKAO
1,2,None,None,30~39,N,male,C1LLG,user2@naver.com,None,http://k.kakaocdn.net/dn/dpk9l1/btqmGhA2lKL/Oz...,ROLE_MEMBER,KAKAO
2,3,None,None,30~39,N,male,N8WGU,user3@naver.com,None,http://k.kakaocdn.net/dn/dpk9l1/btqmGhA2lKL/Oz...,ROLE_MEMBER,KAKAO
3,4,None,None,30~39,N,female,FK665,user4@gmail.com,None,http://k.kakaocdn.net/dn/dpk9l1/btqmGhA2lKL/Oz...,ROLE_MEMBER,KAKAO
4,5,None,None,30~39,N,male,NDP0U,user5@gmail.com,None,http://k.kakaocdn.net/dn/dpk9l1/btqmGhA2lKL/Oz...,ROLE_MEMBER,KAKAO