In [1]:
import os
import os.path as path
import gc
import re
import math
import json
import random

In [2]:
from datetime import datetime
import time

datetime(2023,3,31,12).strftime("%Y-%m-%d %H:%M:%S.%f")
# YYYY-mm-dd HH:MM:SS.ffffff
# 2023-03-31 10:31:34.649919
datetime(2023,3,31,12).strftime("%Y%m%d%H%M%S")    
# YYYYmmddHHMMSS
# 20220121003758
datetime(2023,3,31,12).strftime("%Y/%m/%d %H:%M:%S")  
# YYYY/mm/dd HH:MM:SS 
# 2022/01/21/ 00:37:58

'2023/03/31 12:00:00'

In [3]:
start = int(time.mktime(datetime(2023,3,1,12).timetuple()))
end = int(time.mktime(datetime(2023,3,31,12).timetuple()))
step = (end - start) // 1000
print(start, end, step)
time_range = range(start, end, step)

1677639600 1680231600 2592

In [4]:
import numpy as np
import pandas as pd
pd.set_option('display.max_row', 50)
pd.set_option('display.max_columns', 100)

In [5]:
# 디렉토리 기본 경로 설정
DIR_PATH = path.join('..')
DIR_SAVE_PATH = path.join('.')

print(DIR_PATH)
print(DIR_SAVE_PATH)

..
.

In [6]:
user_columns = ['idx', 'created_date', 'updated_date', 'age_range', 'expired', 'gender', 'hashcode', 'member_email', 'nickname', 'profileImg', 'role', 'sns_type']
user_df = pd.DataFrame(data=[([idx + 1] + [None for x in range(len(user_columns) - 1)]) for idx in range(1000)], columns=user_columns)
print(user_df.dtypes)
print(user_df.shape)
user_df.head()

idx              int64
created_date    object
updated_date    object
age_range       object
expired         object
gender          object
hashcode        object
member_email    object
nickname        object
profileImg      object
role            object
sns_type        object
dtype: object
(1000, 12)

,idx,created_date,updated_date,age_range,expired,gender,hashcode,member_email,nickname,profileImg,role,sns_type
0,1,None,None,None,None,None,None,None,None,None,None,None
1,2,None,None,None,None,None,None,None,None,None,None,None
2,3,None,None,None,None,None,None,None,None,None,None,None
3,4,None,None,None,None,None,None,None,None,None,None,None
4,5,None,None,None,None,None,None,None,None,None,None,None

In [7]:
HASH_LENGTH = 5
CHARACTERS = "ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789"
USED_HASHES = [False] * (len(CHARACTERS) ** HASH_LENGTH)

def generate_hash():
    global USED_HASHES
    while True:
        hash_str = ''.join(random.choice(CHARACTERS) for _ in range(HASH_LENGTH))
        hash_code = hash(hash_str) % len(USED_HASHES)
        if not USED_HASHES[hash_code]:
            USED_HASHES[hash_code] = True
            return hash_str

In [8]:
# 고정값
user_df['created_date'] = [datetime.fromtimestamp(x).strftime("%Y-%m-%d %H:%M:%S.%f") for x in time_range]
user_df['expired'] = 'N'
user_df['profileImg'] = 'http://k.kakaocdn.net/dn/dpk9l1/btqmGhA2lKL/Oz0wDuJn1YV2DIn92f6DVK/img_640x640.jpg'
user_df['role'] = 'ROLE_MEMBER'
user_df['sns_type'] = 'KAKAO'
user_df.head()

,idx,created_date,updated_date,age_range,expired,gender,hashcode,member_email,nickname,profileImg,role,sns_type
0,1,2023-03-01 12:00:00.000000,None,None,N,None,None,None,None,http://k.kakaocdn.net/dn/dpk9l1/btqmGhA2lKL/Oz...,ROLE_MEMBER,KAKAO
1,2,2023-03-01 12:43:12.000000,None,None,N,None,None,None,None,http://k.kakaocdn.net/dn/dpk9l1/btqmGhA2lKL/Oz...,ROLE_MEMBER,KAKAO
2,3,2023-03-01 13:26:24.000000,None,None,N,None,None,None,None,http://k.kakaocdn.net/dn/dpk9l1/btqmGhA2lKL/Oz...,ROLE_MEMBER,KAKAO
3,4,2023-03-01 14:09:36.000000,None,None,N,None,None,None,None,http://k.kakaocdn.net/dn/dpk9l1/btqmGhA2lKL/Oz...,ROLE_MEMBER,KAKAO
4,5,2023-03-01 14:52:48.000000,None,None,N,None,None,None,None,http://k.kakaocdn.net/dn/dpk9l1/btqmGhA2lKL/Oz...,ROLE_MEMBER,KAKAO

In [9]:
generate_hash()

'LGJQ4'

In [10]:
mail_provider = ['naver.com', 'gmail.com', 'hanmail.net', 'kakao.com']

def random_mail_provider():
    return random.choices(mail_provider, weights=[7, 10, 1, 1], k=1)[0]

In [11]:
random_mail_provider()

'kakao.com'

In [12]:
name_sample = np.array([
        [
            ['김', '이', '박', '최', '정', '강', '조', '윤', '장', '임', '한', '오', '서', '신', '권', '황', '안', '송', '전', '홍'], 
            ['Kim', 'Lee', 'Park', 'Choi', 'Jung', 'Kang', 'Cho', 'Yoon', 'Jang', 'Im', 'Han', 'Oh', 'Seo', 'Shin', 'Kwon', 'Hwang', 'Ahn', 'Song', 'Jeon', 'Hong']
        ],
        [
            ['민', '서', '예', '지', '도', '하', '주', '윤', '채', '현', '지', '태', '인', '동', '재', '상', '종', '하', '승', '강'],
            ['Min', 'Seo', 'Yi', 'Ji', 'Do', 'Ha', 'Ju', 'Yoon', 'Chae', 'Hyeon', 'Ji', 'Tae', 'In', 'Dong', 'Jae', 'Sang', 'Jong', 'Ha', 'Seung', 'Kang']
        ],
        [
            ['준', '윤', '우', '원', '호', '후', '서', '연', '아', '은', '진', '지', '영', '주', '숙', '온', '환', '상', '현', '찬'],
            ['Jun', 'Yun', 'Woo', 'Won', 'Ho', 'Hu', 'Seo', 'Yeon', 'An', 'Eun', 'Jin', 'Ji', 'Young', 'Ju', 'Suk', 'On', 'Hwan', 'Sang', 'Hyeon', 'Chan']
        ]
    ])

def random_name_email_gender_pair():
    first = random.choice(list(zip(name_sample[0][0], name_sample[0][1])))
    mid = random.choice(list(zip(name_sample[1][0], name_sample[1][1])))
    last =  random.choice(list(zip(name_sample[2][0], name_sample[2][1])))
    
    gender = 'male'
    
    if last[0] in ['윤', '원', '서', '연', '아', '은', '지', '영', '주', '숙']:
        gender = 'female'
    
    name = first[0]+mid[0]+last[0]
    email_id = [first[1]+mid[1]+last[1], mid[1]+last[1], first[1][0]+mid[1][0]+last[1][0]]
    email = random.choice(email_id).lower() + str(random.randrange(9999)) + '@' + random_mail_provider()
    return [name, email, gender]

In [13]:
random_name_email_gender_pair()

['안승온', 'seungon7083@gmail.com', 'male']

In [14]:
# 무작위 생성
user_df[['nickname', 'member_email', 'gender']] = user_df.apply(lambda x : pd.Series(random_name_email_gender_pair(), index=['nickname', 'member_email', 'gender']), axis=1)
user_df['hashcode'] = user_df.apply(lambda x : generate_hash(), axis=1)
user_df['age_range'] = user_df.apply(lambda x : random.choices(['20~29', '30~39', '40~49', '50~59'], weights=[20, 12, 7, 2])[0], axis=1)
user_df.head()

,idx,created_date,updated_date,age_range,expired,gender,hashcode,member_email,nickname,profileImg,role,sns_type
0,1,2023-03-01 12:00:00.000000,None,20~29,N,female,L37JG,syy1723@gmail.com,서윤윤,http://k.kakaocdn.net/dn/dpk9l1/btqmGhA2lKL/Oz...,ROLE_MEMBER,KAKAO
1,2,2023-03-01 12:43:12.000000,None,50~59,N,male,JEVCW,jjh8652@naver.com,정지환,http://k.kakaocdn.net/dn/dpk9l1/btqmGhA2lKL/Oz...,ROLE_MEMBER,KAKAO
2,3,2023-03-01 13:26:24.000000,None,30~39,N,female,OAHK4,jongsuk7314@hanmail.net,안종숙,http://k.kakaocdn.net/dn/dpk9l1/btqmGhA2lKL/Oz...,ROLE_MEMBER,KAKAO
3,4,2023-03-01 14:09:36.000000,None,20~29,N,male,9BXRE,jjw4449@gmail.com,전지우,http://k.kakaocdn.net/dn/dpk9l1/btqmGhA2lKL/Oz...,ROLE_MEMBER,KAKAO
4,5,2023-03-01 14:52:48.000000,None,20~29,N,male,WDNQG,songdonghu5810@gmail.com,송동후,http://k.kakaocdn.net/dn/dpk9l1/btqmGhA2lKL/Oz...,ROLE_MEMBER,KAKAO

In [15]:
user_df['age_range'].value_counts()

20~29    482
30~39    301
40~49    163
50~59     54
Name: age_range, dtype: int64

In [16]:
user_df['gender'].value_counts()

male      515
female    485
Name: gender, dtype: int64

In [17]:
# 파일 저장
os.makedirs(DIR_SAVE_PATH, exist_ok=True)
user_df.to_csv(path.join(DIR_SAVE_PATH, 'sql_member_new.csv'), sep=',', index=False, encoding='cp949')