In [1]:
import os
import os.path as path
import gc
import re
import math
import json
import random

In [2]:
import numpy as np
import pandas as pd
pd.set_option('display.max_row', 50)
pd.set_option('display.max_columns', 100)

In [3]:
# 디렉토리 기본 경로 설정
DIR_PATH = path.join('..')
DIR_SAVE_PATH = path.join('.')

print(DIR_PATH)
print(DIR_SAVE_PATH)

..
.

In [4]:
user_columns = ['idx', 'created_date', 'updated_date', 'age_range', 'expired', 'gender', 'hashcode', 'member_email', 'nickname', 'profileImg', 'role', 'sns_type']
user_df = pd.DataFrame(data=[([idx + 1] + [None for x in range(len(user_columns) - 1)]) for idx in range(1000)], columns=user_columns)
print(user_df.dtypes)
print(user_df.shape)
user_df.head()

idx              int64
created_date    object
updated_date    object
age_range       object
expired         object
gender          object
hashcode        object
member_email    object
nickname        object
profileImg      object
role            object
sns_type        object
dtype: object
(1000, 12)

,idx,created_date,updated_date,age_range,expired,gender,hashcode,member_email,nickname,profileImg,role,sns_type
0,1,None,None,None,None,None,None,None,None,None,None,None
1,2,None,None,None,None,None,None,None,None,None,None,None
2,3,None,None,None,None,None,None,None,None,None,None,None
3,4,None,None,None,None,None,None,None,None,None,None,None
4,5,None,None,None,None,None,None,None,None,None,None,None

In [5]:
# 고정값
user_df['expired'] = 'N'
user_df['profileImg'] = 'http://k.kakaocdn.net/dn/dpk9l1/btqmGhA2lKL/Oz0wDuJn1YV2DIn92f6DVK/img_640x640.jpg'
user_df['role'] = 'ROLE_MEMBER'
user_df['sns_type'] = 'KAKAO'
user_df.head()

,idx,created_date,updated_date,age_range,expired,gender,hashcode,member_email,nickname,profileImg,role,sns_type
0,1,None,None,None,N,None,None,None,None,http://k.kakaocdn.net/dn/dpk9l1/btqmGhA2lKL/Oz...,ROLE_MEMBER,KAKAO
1,2,None,None,None,N,None,None,None,None,http://k.kakaocdn.net/dn/dpk9l1/btqmGhA2lKL/Oz...,ROLE_MEMBER,KAKAO
2,3,None,None,None,N,None,None,None,None,http://k.kakaocdn.net/dn/dpk9l1/btqmGhA2lKL/Oz...,ROLE_MEMBER,KAKAO
3,4,None,None,None,N,None,None,None,None,http://k.kakaocdn.net/dn/dpk9l1/btqmGhA2lKL/Oz...,ROLE_MEMBER,KAKAO
4,5,None,None,None,N,None,None,None,None,http://k.kakaocdn.net/dn/dpk9l1/btqmGhA2lKL/Oz...,ROLE_MEMBER,KAKAO