In [1]:
import os
import os.path as path
import gc
import re
import math
import json
import random

In [2]:
from datetime import datetime
import time

In [3]:
import numpy as np
import pandas as pd
pd.set_option('display.max_row', 50)
pd.set_option('display.max_columns', 100)

In [4]:
# 디렉토리 기본 경로 설정
DIR_PATH = path.join('..')
DIR_SAVE_PATH = path.join('.')

print(DIR_PATH)
print(DIR_SAVE_PATH)

..
.

In [5]:
# sql_bean.csv
bean_read = pd.read_csv(path.join('.', 'sql_bean.csv'), low_memory=False, encoding='utf-8')

print(bean_read.shape)
bean_read.head()

(47, 8)

,idx,created_date,updated_date,name_ko,name_en,summary,thumbnail,user_grade
0,1,2023-03-01 12:00:00.000000,NaN,에티오피아 예가체프 G2 워시드 (중배전),Ethiopia Yega Chef G2,"산미와 꽃 향기가 조화를 이루며, 원두의 맛을 최대한 살리기 위해 노력합니다.",default_bean.png,0
1,2,2023-03-01 12:43:12.000000,NaN,과테말라 안티구아 SHB 워시드 (강배전),Guatemala Antigua SHB,"한국인들은 단맛을 좋아해서 부드럽고 달콤한 커피를 선호하며, 지역의 풍토가 커피 맛...",default_bean.png,0
2,3,2023-03-01 13:26:24.000000,NaN,에티오피아 코케 G1 펄프드내추럴 (중배전),Ethiopia Koke G1,"산미(신맛)이 높고 향이 풍부하며, 반대로 바디감과 쓴맛은 적습니다. 또한 허니 프...",default_bean.png,0
3,4,2023-03-01 14:09:36.000000,NaN,케냐 키암부 AA 워시드 (중배전),Kenya Kyambu AA,"산미(신맛)가 적은 커피이며, 클린한 바디감의 고소함이 좋습니다. 고급스러운 고소함...",default_bean.png,0
4,5,2023-03-01 14:52:48.000000,NaN,콜롬비아 콜롬비아 SUPREMO 워시드 (중배전),Colombia Colombian SUPREMO,부드럽고 마일드한 맛과 깊은향으로 누구나 쉽게 즐길수 있는 커피입니다. 메이플시럽의...,default_bean.png,0

In [6]:
# sql_bean_score.csv
bean_score_read = pd.read_csv(path.join('.', 'sql_bean_score.csv'), low_memory=False, encoding='utf-8')

print(bean_score_read.shape)
bean_score_read.head()

(47, 12)

,idx,created_date,updated_date,flavor,acidity,sweetness,bitterness,body,balance,roasting_point,coffeeing_note,bean_idx
0,1,NaN,NaN,7,7,6,4,4,5,중배전,"꽃, 과일, 부드러운, 플로럴, 레몬, 허니",1
1,2,NaN,NaN,6,3,7,7,7,5,강배전,"스모크, 우아한, 중후한, 블랙커런트, 갈색설탕, 다크초코",2
2,3,NaN,NaN,8,8,7,4,5,5,중배전,"베리, 체리, 허니",3
3,4,NaN,NaN,6,6,7,6,7,5,중배전,"자몽, 당밀, 카라멜",4
4,5,NaN,NaN,7,5,6,6,6,5,중배전,"마일드, 적포도, 메이플시럽, 다크초코",5

In [7]:
bean_data = pd.merge(bean_read, bean_score_read, left_on='idx', right_on='bean_idx')
print(bean_data.shape)
bean_data.head()

(47, 20)

,idx_x,created_date_x,updated_date_x,name_ko,name_en,summary,thumbnail,user_grade,idx_y,created_date_y,updated_date_y,flavor,acidity,sweetness,bitterness,body,balance,roasting_point,coffeeing_note,bean_idx
0,1,2023-03-01 12:00:00.000000,NaN,에티오피아 예가체프 G2 워시드 (중배전),Ethiopia Yega Chef G2,"산미와 꽃 향기가 조화를 이루며, 원두의 맛을 최대한 살리기 위해 노력합니다.",default_bean.png,0,1,NaN,NaN,7,7,6,4,4,5,중배전,"꽃, 과일, 부드러운, 플로럴, 레몬, 허니",1
1,2,2023-03-01 12:43:12.000000,NaN,과테말라 안티구아 SHB 워시드 (강배전),Guatemala Antigua SHB,"한국인들은 단맛을 좋아해서 부드럽고 달콤한 커피를 선호하며, 지역의 풍토가 커피 맛...",default_bean.png,0,2,NaN,NaN,6,3,7,7,7,5,강배전,"스모크, 우아한, 중후한, 블랙커런트, 갈색설탕, 다크초코",2
2,3,2023-03-01 13:26:24.000000,NaN,에티오피아 코케 G1 펄프드내추럴 (중배전),Ethiopia Koke G1,"산미(신맛)이 높고 향이 풍부하며, 반대로 바디감과 쓴맛은 적습니다. 또한 허니 프...",default_bean.png,0,3,NaN,NaN,8,8,7,4,5,5,중배전,"베리, 체리, 허니",3
3,4,2023-03-01 14:09:36.000000,NaN,케냐 키암부 AA 워시드 (중배전),Kenya Kyambu AA,"산미(신맛)가 적은 커피이며, 클린한 바디감의 고소함이 좋습니다. 고급스러운 고소함...",default_bean.png,0,4,NaN,NaN,6,6,7,6,7,5,중배전,"자몽, 당밀, 카라멜",4
4,5,2023-03-01 14:52:48.000000,NaN,콜롬비아 콜롬비아 SUPREMO 워시드 (중배전),Colombia Colombian SUPREMO,부드럽고 마일드한 맛과 깊은향으로 누구나 쉽게 즐길수 있는 커피입니다. 메이플시럽의...,default_bean.png,0,5,NaN,NaN,7,5,6,6,6,5,중배전,"마일드, 적포도, 메이플시럽, 다크초코",5

In [8]:
bean_data.rename({'idx_x':'idx'}, axis=1, inplace=True)
bean_data.drop(['created_date_x', 'updated_date_x', 'name_en', 'summary', 'thumbnail', 'user_grade', 'idx_y', 'created_date_y', 'updated_date_y', 'bean_idx'], axis=1, inplace=True)
print(bean_data.shape)
bean_data.head()

(47, 10)

,idx,name_ko,flavor,acidity,sweetness,bitterness,body,balance,roasting_point,coffeeing_note
0,1,에티오피아 예가체프 G2 워시드 (중배전),7,7,6,4,4,5,중배전,"꽃, 과일, 부드러운, 플로럴, 레몬, 허니"
1,2,과테말라 안티구아 SHB 워시드 (강배전),6,3,7,7,7,5,강배전,"스모크, 우아한, 중후한, 블랙커런트, 갈색설탕, 다크초코"
2,3,에티오피아 코케 G1 펄프드내추럴 (중배전),8,8,7,4,5,5,중배전,"베리, 체리, 허니"
3,4,케냐 키암부 AA 워시드 (중배전),6,6,7,6,7,5,중배전,"자몽, 당밀, 카라멜"
4,5,콜롬비아 콜롬비아 SUPREMO 워시드 (중배전),7,5,6,6,6,5,중배전,"마일드, 적포도, 메이플시럽, 다크초코"

In [9]:
# sql_capsule.csv
capsule_read = pd.read_csv(path.join('.', 'sql_capsule.csv'), low_memory=False, encoding='utf-8')

print(capsule_read.shape)
capsule_read.head()

(152, 8)

,idx,created_date,updated_date,name_en,name_ko,summary,thumbnail,user_grade
0,1,2023-03-31 12:00:00,NaN,Amaretti,아마레티,"아몬드, 비스킷",default_capsule.png,0
1,2,2023-03-31 12:00:00,NaN,Bukeela ka Ethiopia,부케엘라 카 에티오피아,"과일, 플로럴",default_capsule.png,0
2,3,2023-03-31 12:00:00,NaN,Cafe Istanbul,카페 이스탄불,"강렬한, 자극적인",default_capsule.png,0
3,4,2023-03-31 12:00:00,NaN,Caramelito,카라멜리또,카라멜,default_capsule.png,0
4,5,2023-03-31 12:00:00,NaN,Ciocattino,초콜라티노,초코,default_capsule.png,0

In [10]:
# sql_capsule_score.csv
capsule_score_read = pd.read_csv(path.join('.', 'sql_capsule_score.csv'), low_memory=False, encoding='utf-8')

print(capsule_score_read.shape)
capsule_score_read.head()

(152, 11)

,idx,created_date,updated_date,acidity,balance,bitterness,body,coffeeing_note,flavor,roasting,capsule_idx
0,1,2023-03-31 12:00:00.000000,NaN,6,5,6,6,"아몬드, 비스킷",5,6,1
1,2,2023-03-31 12:00:00.000000,NaN,4,5,2,2,"과일, 플로럴",3,2,2
2,3,2023-03-31 12:00:00.000000,NaN,6,5,6,6,"강렬한, 자극적인",10,6,3
3,4,2023-03-31 12:00:00.000000,NaN,6,5,6,6,카라멜,6,6,4
4,5,2023-03-31 12:00:00.000000,NaN,6,5,6,6,초코,6,6,5

In [11]:
capsule_data = pd.merge(capsule_read, capsule_score_read, left_on='idx', right_on='capsule_idx')
print(capsule_data.shape)
capsule_data.head()

(152, 19)

,idx_x,created_date_x,updated_date_x,name_en,name_ko,summary,thumbnail,user_grade,idx_y,created_date_y,updated_date_y,acidity,balance,bitterness,body,coffeeing_note,flavor,roasting,capsule_idx
0,1,2023-03-31 12:00:00,NaN,Amaretti,아마레티,"아몬드, 비스킷",default_capsule.png,0,1,2023-03-31 12:00:00.000000,NaN,6,5,6,6,"아몬드, 비스킷",5,6,1
1,2,2023-03-31 12:00:00,NaN,Bukeela ka Ethiopia,부케엘라 카 에티오피아,"과일, 플로럴",default_capsule.png,0,2,2023-03-31 12:00:00.000000,NaN,4,5,2,2,"과일, 플로럴",3,2,2
2,3,2023-03-31 12:00:00,NaN,Cafe Istanbul,카페 이스탄불,"강렬한, 자극적인",default_capsule.png,0,3,2023-03-31 12:00:00.000000,NaN,6,5,6,6,"강렬한, 자극적인",10,6,3
3,4,2023-03-31 12:00:00,NaN,Caramelito,카라멜리또,카라멜,default_capsule.png,0,4,2023-03-31 12:00:00.000000,NaN,6,5,6,6,카라멜,6,6,4
4,5,2023-03-31 12:00:00,NaN,Ciocattino,초콜라티노,초코,default_capsule.png,0,5,2023-03-31 12:00:00.000000,NaN,6,5,6,6,초코,6,6,5

In [12]:
capsule_data.rename({'idx_x':'idx'}, axis=1, inplace=True)
capsule_data.drop(['created_date_x', 'updated_date_x', 'name_en', 'summary', 'thumbnail', 'user_grade', 'idx_y', 'created_date_y', 'updated_date_y', 'capsule_idx'], axis=1, inplace=True)
print(capsule_data.shape)
capsule_data.head()

(152, 9)

,idx,name_ko,acidity,balance,bitterness,body,coffeeing_note,flavor,roasting
0,1,아마레티,6,5,6,6,"아몬드, 비스킷",5,6
1,2,부케엘라 카 에티오피아,4,5,2,2,"과일, 플로럴",3,2
2,3,카페 이스탄불,6,5,6,6,"강렬한, 자극적인",10,6
3,4,카라멜리또,6,5,6,6,카라멜,6,6
4,5,초콜라티노,6,5,6,6,초코,6,6

In [13]:
# sql_member.csv
member_read = pd.read_csv(path.join('.', 'sql_member.csv'), low_memory=False, encoding='utf-8')

print(member_read.shape)
member_read.head()

(1000, 12)

,idx,created_date,updated_date,age_range,expired,gender,hashcode,member_email,nickname,profileImg,role,sns_type
0,1,2023-03-01 12:00:00.000000,2023-03-01 12:00:00.000000,20~29,N,male,N36WH,kwonjiwoo8689@naver.com,권지우,http://k.kakaocdn.net/dn/dpk9l1/btqmGhA2lKL/Oz...,ROLE_MEMBER,KAKAO
1,2,2023-03-01 12:43:12.000000,2023-03-01 12:43:12.000000,20~29,N,male,5P868,jusang6794@gmail.com,홍주상,http://k.kakaocdn.net/dn/dpk9l1/btqmGhA2lKL/Oz...,ROLE_MEMBER,KAKAO
2,3,2023-03-01 13:26:24.000000,2023-03-01 13:26:24.000000,20~29,N,female,9MRTC,ohe9819@naver.com,오하은,http://k.kakaocdn.net/dn/dpk9l1/btqmGhA2lKL/Oz...,ROLE_MEMBER,KAKAO
3,4,2023-03-01 14:09:36.000000,2023-03-01 14:09:36.000000,20~29,N,male,MSNT1,kwonhahwan4662@gmail.com,권하환,http://k.kakaocdn.net/dn/dpk9l1/btqmGhA2lKL/Oz...,ROLE_MEMBER,KAKAO
4,5,2023-03-01 14:52:48.000000,2023-03-01 14:52:48.000000,50~59,N,female,VZ6XF,dongji9704@naver.com,임동지,http://k.kakaocdn.net/dn/dpk9l1/btqmGhA2lKL/Oz...,ROLE_MEMBER,KAKAO

In [14]:
def generate_random_overall(item_len):
    def random_overall():
        return random.choices([i for i in range(1, 11)], weights=[4, 4, 3, 3, 5, 5, 7, 10, 10, 8])
    
    random_list = [random.choices([random_overall()[0], np.NaN], weights=[item_len * 0.15, item_len * 0.85])[0] for i in range(item_len)]
    random_series = pd.Series(random_list, index=[i+1 for i in range(item_len)])
    
    return random_series

In [15]:
generate_random_overall(20)

1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
11    NaN
12    NaN
13    NaN
14    NaN
15    9.0
16    NaN
17    NaN
18    NaN
19    NaN
20    NaN
dtype: float64

In [16]:
overall_bean_df = pd.DataFrame(index=member_read['idx'], columns=bean_data['idx'])
overall_bean_df.index.rename('member_idx', inplace=True)
overall_bean_df.columns.rename('bean_idx', inplace=True)
print(overall_bean_df.shape)
overall_bean_df.head()

(1000, 47)

bean_idx,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47
member_idx,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
overall_bean_df = overall_bean_df.apply(lambda x: generate_random_overall(overall_bean_df.shape[1]), axis=1)
overall_bean_df.columns.rename('item_idx', inplace=True)
overall_bean_df.head()

item_idx,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47
member_idx,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,7.0,NaN,NaN,NaN,9.0,NaN,5.0,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
2,3.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,7.0,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,5.0,NaN,NaN,7.0,NaN,3.0,NaN,NaN,NaN,7.0,7.0,NaN,NaN,NaN,5.0,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,2.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN

In [18]:
max_idx = overall_bean_df.notnull().sum(axis=1).idxmax()
min_idx = overall_bean_df.notnull().sum(axis=1).idxmin()

print('max: ', max_idx, overall_bean_df.loc[max_idx].notnull().sum().max())
print('min: ', min_idx, overall_bean_df.loc[min_idx].notnull().sum().min())

max:  843 16
min:  293 1

In [19]:
overall_bean_df = overall_bean_df.melt(ignore_index=False).reset_index()
overall_bean_df.dropna(inplace=True)
overall_bean_df.reset_index(drop=True, inplace=True)
overall_bean_df.rename({'value':'overall'}, axis=1, inplace=True)
overall_bean_df = overall_bean_df.astype({'overall':'int'})
print(overall_bean_df.shape)
overall_bean_df.head()

(7105, 3)

   member_idx  item_idx  overall
0           2         1        3
1           8         1        8
2          17         1        9
3          18         1        9
4          19         1        9

In [20]:
review_bean_df = pd.merge(overall_bean_df, bean_data.drop(['name_ko', 'roasting_point'], axis=1), how='left', left_on='item_idx', right_on='idx').drop(['idx', 'balance'], axis=1)
print(review_bean_df.shape)
review_bean_df.head()

(7105, 9)

,member_idx,item_idx,overall,flavor,acidity,sweetness,bitterness,body,coffeeing_note
0,2,1,3,7,7,6,4,4,"꽃, 과일, 부드러운, 플로럴, 레몬, 허니"
1,8,1,8,7,7,6,4,4,"꽃, 과일, 부드러운, 플로럴, 레몬, 허니"
2,17,1,9,7,7,6,4,4,"꽃, 과일, 부드러운, 플로럴, 레몬, 허니"
3,18,1,9,7,7,6,4,4,"꽃, 과일, 부드러운, 플로럴, 레몬, 허니"
4,19,1,9,7,7,6,4,4,"꽃, 과일, 부드러운, 플로럴, 레몬, 허니"

In [21]:
review_bean_df['idx'] = review_bean_df.index + 1
review_bean_df['created_date'] = member_read['created_date'].iloc[0]
review_bean_df['updated_date'] = member_read['created_date'].iloc[0]
review_bean_df['expired'] = 'N'
review_bean_df['content'] = '커피가 괜찮아요'
review_bean_df['item_type'] = 'bean'
review_bean_df['like'] = 0
overall_list_columns = ['idx', 'created_date', 'updated_date', 'acidity', 
                        'bitterness', 'body', 'coffeeing_note', 'content', 
                        'expired', 'flavor', 'item_idx', 'item_type', 
                        'like', 'overall', 'sweetness', 'member_idx']
review_bean_df = review_bean_df[overall_list_columns]
print(review_bean_df.shape)
review_bean_df.head()

(7105, 16)

,idx,created_date,updated_date,acidity,bitterness,body,coffeeing_note,content,expired,flavor,item_idx,item_type,like,overall,sweetness,member_idx
0,1,2023-03-01 12:00:00.000000,2023-03-01 12:00:00.000000,7,4,4,"꽃, 과일, 부드러운, 플로럴, 레몬, 허니",커피가 괜찮아요,N,7,1,bean,0,3,6,2
1,2,2023-03-01 12:00:00.000000,2023-03-01 12:00:00.000000,7,4,4,"꽃, 과일, 부드러운, 플로럴, 레몬, 허니",커피가 괜찮아요,N,7,1,bean,0,8,6,8
2,3,2023-03-01 12:00:00.000000,2023-03-01 12:00:00.000000,7,4,4,"꽃, 과일, 부드러운, 플로럴, 레몬, 허니",커피가 괜찮아요,N,7,1,bean,0,9,6,17
3,4,2023-03-01 12:00:00.000000,2023-03-01 12:00:00.000000,7,4,4,"꽃, 과일, 부드러운, 플로럴, 레몬, 허니",커피가 괜찮아요,N,7,1,bean,0,9,6,18
4,5,2023-03-01 12:00:00.000000,2023-03-01 12:00:00.000000,7,4,4,"꽃, 과일, 부드러운, 플로럴, 레몬, 허니",커피가 괜찮아요,N,7,1,bean,0,9,6,19

In [22]:
overall_capsule_df = pd.DataFrame(index=member_read['idx'], columns=capsule_data['idx'])
overall_capsule_df.index.rename('member_idx', inplace=True)
overall_capsule_df.columns.rename('capsule_idx', inplace=True)
print(overall_capsule_df.shape)
overall_capsule_df.head()

(1000, 152)

capsule_idx,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,...,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152
member_idx,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
overall_capsule_df = overall_capsule_df.apply(lambda x: generate_random_overall(overall_capsule_df.shape[1]), axis=1)
overall_capsule_df.columns.rename('item_idx', inplace=True)
overall_capsule_df.head()

item_idx,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,...,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152
member_idx,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,7.0,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN,8.0,4.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,9.0,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN
2,5.0,NaN,NaN,NaN,NaN,1.0,NaN,9.0,9.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,8.0,NaN,NaN,NaN,9.0,9.0,NaN,NaN,NaN,7.0,...,NaN,NaN,3.0,NaN,8.0,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,8.0,7.0,NaN,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,10.0,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,10.0,10.0,NaN,NaN,10.0,5.0,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN
4,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,3.0,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,10.0,NaN,9.0,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
max_idx = overall_capsule_df.notnull().sum(axis=1).idxmax()
min_idx = overall_capsule_df.notnull().sum(axis=1).idxmin()

print('max: ', max_idx, overall_capsule_df.loc[max_idx].notnull().sum().max())
print('min: ', min_idx, overall_capsule_df.loc[min_idx].notnull().sum().min())

max:  755 35
min:  479 8

In [25]:
overall_capsule_df = overall_capsule_df.melt(ignore_index=False).reset_index()
overall_capsule_df.dropna(inplace=True)
overall_capsule_df.reset_index(drop=True, inplace=True)
overall_capsule_df.rename({'value':'overall'}, axis=1, inplace=True)
overall_capsule_df = overall_capsule_df.astype({'overall':'int'})
print(overall_capsule_df.shape)
overall_capsule_df.head()

(22636, 3)

   member_idx  item_idx  overall
0           2         1        5
1          11         1        2
2          13         1        6
3          14         1        5
4          23         1        8

In [26]:
review_capsule_df = pd.merge(overall_capsule_df, capsule_data.drop(['name_ko'], axis=1), how='left', left_on='item_idx', right_on='idx').drop(['idx', 'balance'], axis=1)
print(review_capsule_df.shape)
review_capsule_df.head()

(22636, 9)

,member_idx,item_idx,overall,acidity,bitterness,body,coffeeing_note,flavor,roasting
0,2,1,5,6,6,6,"아몬드, 비스킷",5,6
1,11,1,2,6,6,6,"아몬드, 비스킷",5,6
2,13,1,6,6,6,6,"아몬드, 비스킷",5,6
3,14,1,5,6,6,6,"아몬드, 비스킷",5,6
4,23,1,8,6,6,6,"아몬드, 비스킷",5,6

In [27]:
review_capsule_df['idx'] = review_capsule_df.index + review_bean_df.shape[0] + 1
review_capsule_df['created_date'] = member_read['created_date'].iloc[0]
review_capsule_df['updated_date'] = member_read['created_date'].iloc[0]
review_capsule_df['expired'] = 'N'
review_capsule_df['content'] = '커피가 괜찮아요'
review_capsule_df['item_type'] = 'capsule'
review_capsule_df['like'] = 0

review_capsule_df['sweetness'] = review_capsule_df['roasting']

overall_list_columns = ['idx', 'created_date', 'updated_date', 'acidity', 
                        'bitterness', 'body', 'coffeeing_note', 'content', 
                        'expired', 'flavor', 'item_idx', 'item_type', 
                        'like', 'overall', 'sweetness', 'member_idx']
review_capsule_df = review_capsule_df[overall_list_columns]
print(review_capsule_df.shape)
review_capsule_df.head()

(22636, 16)

,idx,created_date,updated_date,acidity,bitterness,body,coffeeing_note,content,expired,flavor,item_idx,item_type,like,overall,sweetness,member_idx
0,7106,2023-03-01 12:00:00.000000,2023-03-01 12:00:00.000000,6,6,6,"아몬드, 비스킷",커피가 괜찮아요,N,5,1,capsule,0,5,6,2
1,7107,2023-03-01 12:00:00.000000,2023-03-01 12:00:00.000000,6,6,6,"아몬드, 비스킷",커피가 괜찮아요,N,5,1,capsule,0,2,6,11
2,7108,2023-03-01 12:00:00.000000,2023-03-01 12:00:00.000000,6,6,6,"아몬드, 비스킷",커피가 괜찮아요,N,5,1,capsule,0,6,6,13
3,7109,2023-03-01 12:00:00.000000,2023-03-01 12:00:00.000000,6,6,6,"아몬드, 비스킷",커피가 괜찮아요,N,5,1,capsule,0,5,6,14
4,7110,2023-03-01 12:00:00.000000,2023-03-01 12:00:00.000000,6,6,6,"아몬드, 비스킷",커피가 괜찮아요,N,5,1,capsule,0,8,6,23

In [28]:
review_df = pd.concat([review_bean_df, review_capsule_df], ignore_index=True)
review_df

,idx,created_date,updated_date,acidity,bitterness,body,coffeeing_note,content,expired,flavor,item_idx,item_type,like,overall,sweetness,member_idx
0,1,2023-03-01 12:00:00.000000,2023-03-01 12:00:00.000000,7,4,4,"꽃, 과일, 부드러운, 플로럴, 레몬, 허니",커피가 괜찮아요,N,7,1,bean,0,3,6,2
1,2,2023-03-01 12:00:00.000000,2023-03-01 12:00:00.000000,7,4,4,"꽃, 과일, 부드러운, 플로럴, 레몬, 허니",커피가 괜찮아요,N,7,1,bean,0,8,6,8
2,3,2023-03-01 12:00:00.000000,2023-03-01 12:00:00.000000,7,4,4,"꽃, 과일, 부드러운, 플로럴, 레몬, 허니",커피가 괜찮아요,N,7,1,bean,0,9,6,17
3,4,2023-03-01 12:00:00.000000,2023-03-01 12:00:00.000000,7,4,4,"꽃, 과일, 부드러운, 플로럴, 레몬, 허니",커피가 괜찮아요,N,7,1,bean,0,9,6,18
4,5,2023-03-01 12:00:00.000000,2023-03-01 12:00:00.000000,7,4,4,"꽃, 과일, 부드러운, 플로럴, 레몬, 허니",커피가 괜찮아요,N,7,1,bean,0,9,6,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29736,29737,2023-03-01 12:00:00.000000,2023-03-01 12:00:00.000000,6,6,6,"맥아, 고소한, 기름진",커피가 괜찮아요,N,4,152,capsule,0,2,6,924
29737,29738,2023-03-01 12:00:00.000000,2023-03-01 12:00:00.000000,6,6,6,"맥아, 고소한, 기름진",커피가 괜찮아요,N,4,152,capsule,0,6,6,938
29738,29739,2023-03-01 12:00:00.000000,2023-03-01 12:00:00.000000,6,6,6,"맥아, 고소한, 기름진",커피가 괜찮아요,N,4,152,capsule,0,10,6,952
29739,29740,2023-03-01 12:00:00.000000,2023-03-01 12:00:00.000000,6,6,6,"맥아, 고소한, 기름진",커피가 괜찮아요,N,4,152,capsule,0,6,6,956
29740,29741,2023-03-01 12:00:00.000000,2023-03-01 12:00:00.000000,6,6,6,"맥아, 고소한, 기름진",커피가 괜찮아요,N,4,152,capsule,0,10,6,986

In [29]:
# 파일 저장
os.makedirs(DIR_SAVE_PATH, exist_ok=True)
review_df.to_csv(path.join(DIR_SAVE_PATH, 'sql_review_new.csv'), sep=',', index=False, encoding='utf-8')