In [1]:
import os
import os.path as path
import gc
import re
import math
import json

In [32]:
import numpy as np
import pandas as pd
from datetime import datetime
import time

In [43]:
# 디렉토리 기본 경로 설정
DIR_PATH = path.join('..', 'data', 'sql_dummy')
DIR_SAVE_PATH = path.join('..', 'data', 'output')

print(DIR_PATH)
print(DIR_SAVE_PATH)

..\data\sql_dummy
..\data\output

In [49]:
# bean_raw_data.csv
bean_read = pd.read_csv(path.join(DIR_PATH, 'sql_bean_v2.csv'), low_memory=False)

print(bean_read.shape)
bean_read.head()

(47, 8)

,idx,created_date,updated_date,name_ko,name_en,summary,thumbnail,user_grade
0,1,2023-03-01 12:00:00.000000,NaN,에티오피아 예가체프 G2 워시드 (중배전),Ethiopia Yega Chef G2,아이템 요약 영역 입니다!!!,default_bean.png,0
1,2,2023-03-01 12:43:12.000000,NaN,과테말라 안티구아 SHB 워시드 (강배전),Guatemala Antigua SHB,아이템 요약 영역 입니다!!!,default_bean.png,0
2,3,2023-03-01 13:26:24.000000,NaN,에티오피아 코케 G1 펄프드내추럴 (중배전),Ethiopia Koke G1,아이템 요약 영역 입니다!!!,default_bean.png,0
3,4,2023-03-01 14:09:36.000000,NaN,케냐 키암부 AA 워시드 (중배전),Kenya Kyambu AA,아이템 요약 영역 입니다!!!,default_bean.png,0
4,5,2023-03-01 14:52:48.000000,NaN,콜롬비아 콜롬비아 SUPREMO 워시드 (중배전),Colombia Colombian SUPREMO,아이템 요약 영역 입니다!!!,default_bean.png,0

In [50]:
start = int(time.mktime(datetime(2023,3,1,12).timetuple()))
end = int(time.mktime(datetime(2023,3,31,12).timetuple()))
step = (end - start) // 1000
print(start, end, step)
time_range = range(start, end, step)
num_rows = len(bean_read.index)
time_range = time_range[:num_rows]

1677639600 1680231600 2592

In [51]:
bean_read['name_en'] = bean_read['name_en'].str.replace(r"\(.*\)", "" ,regex=True).str.strip()
bean_read.head()

,idx,created_date,updated_date,name_ko,name_en,summary,thumbnail,user_grade
0,1,2023-03-01 12:00:00.000000,NaN,에티오피아 예가체프 G2 워시드 (중배전),Ethiopia Yega Chef G2,아이템 요약 영역 입니다!!!,default_bean.png,0
1,2,2023-03-01 12:43:12.000000,NaN,과테말라 안티구아 SHB 워시드 (강배전),Guatemala Antigua SHB,아이템 요약 영역 입니다!!!,default_bean.png,0
2,3,2023-03-01 13:26:24.000000,NaN,에티오피아 코케 G1 펄프드내추럴 (중배전),Ethiopia Koke G1,아이템 요약 영역 입니다!!!,default_bean.png,0
3,4,2023-03-01 14:09:36.000000,NaN,케냐 키암부 AA 워시드 (중배전),Kenya Kyambu AA,아이템 요약 영역 입니다!!!,default_bean.png,0
4,5,2023-03-01 14:52:48.000000,NaN,콜롬비아 콜롬비아 SUPREMO 워시드 (중배전),Colombia Colombian SUPREMO,아이템 요약 영역 입니다!!!,default_bean.png,0

In [52]:
bean_read['name_en'] = bean_read['name_en'].str.replace('Washed', '').str.strip()
bean_read['name_en'] = bean_read['name_en'].str.replace('Natural', '').str.strip()
bean_read['name_en'] = bean_read['name_en'].str.replace('Dicover Inn', 'Decaffeinated').str.strip()
bean_read['name_en'] = bean_read['name_en'].str.replace('DiCapayin', 'Decaffeinated').str.strip()
bean_read['name_en'] = bean_read['name_en'].str.replace('Divafé', 'Decaffeinated').str.strip()
bean_read['name_en'] = bean_read['name_en'].str.replace('Decaffeinated', 'Decaf').str.strip()
bean_read['created_date'] = [datetime.fromtimestamp(x).strftime("%Y-%m-%d %H:%M:%S.%f") for x in time_range]
bean_read.head()

,idx,created_date,updated_date,name_ko,name_en,summary,thumbnail,user_grade
0,1,2023-03-01 12:00:00.000000,NaN,에티오피아 예가체프 G2 워시드 (중배전),Ethiopia Yega Chef G2,아이템 요약 영역 입니다!!!,default_bean.png,0
1,2,2023-03-01 12:43:12.000000,NaN,과테말라 안티구아 SHB 워시드 (강배전),Guatemala Antigua SHB,아이템 요약 영역 입니다!!!,default_bean.png,0
2,3,2023-03-01 13:26:24.000000,NaN,에티오피아 코케 G1 펄프드내추럴 (중배전),Ethiopia Koke G1,아이템 요약 영역 입니다!!!,default_bean.png,0
3,4,2023-03-01 14:09:36.000000,NaN,케냐 키암부 AA 워시드 (중배전),Kenya Kyambu AA,아이템 요약 영역 입니다!!!,default_bean.png,0
4,5,2023-03-01 14:52:48.000000,NaN,콜롬비아 콜롬비아 SUPREMO 워시드 (중배전),Colombia Colombian SUPREMO,아이템 요약 영역 입니다!!!,default_bean.png,0

In [48]:
bean_read.to_csv(path.join(DIR_PATH, 'sql_bean_v2.csv'), sep=',', index=False)