In [2]:
import os
import os.path as path
import gc
import re
import math
import json

In [3]:
import numpy as np
import pandas as pd

In [5]:
# 디렉토리 기본 경로 설정
DIR_PATH = path.join('..', 'data')
DIR_SAVE_PATH = path.join('..', 'data', 'output')

print(DIR_PATH)
print(DIR_SAVE_PATH)

..\data
..\data\output

In [4]:
# bean_raw_data.csv
bean_read = pd.read_csv(path.join(DIR_SAVE_PATH, 'bean_cbf_recom.csv'), low_memory=False)

print(bean_read.shape)
bean_read.head()

(52, 3)

   id          title                                     recommendation
0   1  에티오피아 예가체프 G2  [{'id': 3, 'title': '에티오피아 코케허니 G1'}, {'id': 3...
1   2      과테말라 안티구아  [{'id': 23, 'title': '베트남 로부스타 G1'}, {'id': 25...
2   3  에티오피아 코케허니 G1  [{'id': 1, 'title': '에티오피아 예가체프 G2'}, {'id': 1...
3   4          케냐 AA  [{'id': 7, 'title': '브라질 세하도 파인컵 NY2'}, {'id':...
4   5      콜롬비아 수프리모  [{'id': 10, 'title': '브라질 옐로우 버번'}, {'id': 9, ...